# ROOT
*.root
*.so
*.d
*.pcm
*.out

# outputfile
log/

*.o
*.dylib
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# binary
build/
bin/
*.cpp~

rootfile

# ログ・出力テキスト
*.log
*.pdf
output/
picodst
err
share

# エディタ設定（VSCode）
.vscode/

# システムファイル
.DS_Store

# ジョブ・ファイルリスト（pushしない）
*.list
*.csh
